@import "/Frontend/node_modules/nord/src/css/nord.css";

.nord {
  color: #d8dee9;
}

.nordblue {
  color: #5E81AC;
}

.center {
    align-items: center;
    justify-content: center;
  }

  .logo{
    margin-top: 36px;
    height: 16px;
  }

  .arrow {
    animation: lift 2s ease infinite;
  }
  @keyframes lift {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
  }
  
